<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Dealz</title>
</head>
<!-- login and registration -->
<body>
    <h1>Put Car Up For Sale </h1>
    <p>
        <a href="/new">
            Dashboard 
        </a>
    </p>
    <p>
        <a href="/user/logout">
            Logout
        </a>
    </p>
    <form method="POST" action="/cars/new">
        <div>
            <label>
                Price:
            </label>
            <input type="money" name="price" /> 
            {% for message in get_flashed_messages(category_filter = ['error_car_price'] ) %}
                {{message}}
            {% endfor %}
        </div>
        </div>
        <div>
            <label>
                Make:
            </label>
            <input type="text" name="make"></input>
            {% for message in get_flashed_messages(category_filter = ['error_car_make'] ) %}
            {{message}}
        {% endfor %}
        </div>
        <div>
            <label>
                Model:
            </label>
            <input type="text" name="model"></input>
            {% for message in get_flashed_messages(category_filter = ['error_car_model'] ) %}
            {{message}}
        {% endfor %}
        </div>
        <div>
            <label>
                Year:
            </label>
            <input type="text" name="year"></input>
            {% for message in get_flashed_messages(category_filter = ['error_car_year'] ) %}
            {{message}}
        {% endfor %}
        </div>
        <div>
            <label>
                Description:
            </label>
            <textarea type="text" name="description" ></textarea>
            {% for message in get_flashed_messages(category_filter = ['error_car_description'] ) %}
            {{message}}
        {% endfor %}
        </div>


        <button type="submit">ADD</button>
    </form>
</body>
</html