<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Test Site </title>

  </head>
  <body>
    <div class="container">
        <H2>Test Page For Backgrounds</H2>

    </div>

    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quaerat tenetur impedit eum voluptates voluptatem commodi. Vel officia, repellat quidem magnam et rerum excepturi error voluptates cumque odit quas asperiores.</div>
  </body>
</html>