<link rel="stylesheet" href="../static/style.css">
<h1>Index Page</h1>

<form action="/submit" method='POST'>
    <div id="main">
        <div class="one">
            <label for="name">Your Name:</label>
            <input type="text" name="name">
        </div>
        <div class="one">
            <label for="locations">Dojo Location:</label>
            <select id = "cities" name="locations">
                <option value="online">online</option>
                <option value="chicago">chicago</option>
                <option value="seattle">seattle</option>
                <option value="california">california</option>
            </select>
        </div>
        <div class="one">
            <label for="name">Favourite Language:</label>
            <select id = "languages" name="favourite_language">
                <option value="python">python</option>
                <option value="html">html</option>
                <option value="css">css</option>
                <option value="javascript">javascript</option>
            </select>
        </div>

        <div class="one" id="comment">
            <p>Comment (optional)</p>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        </div>
        <div class="one">
            <input type="submit" value="Button">
        </div>
        
    </div>
</form>

<link rel="stylesheet" typehref="style.css">
<!--  -->
<!-- if __name__=="__main__":   # Ensure this file is being run directly and not from a different module    
    app.run(debug=True) -->
